body {
  background-image: url(https://img.freepik.com/free-photo/planet-earth-listening-music_1048-2600.jpg?t=st=1732901731~exp=1732905331~hmac=eacd62849dfc0d76b6aff7a9768a424381dd9f2d35a71ece14c9981323fa177f&w=900);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.LogContain {
  background-color: black;
}
.LogLogo {
  width: 30px;
}