body {
  background-image: url(https://img.freepik.com/free-photo/planet-earth-listening-music_1048-2600.jpg?t=st=1732901731~exp=1732905331~hmac=eacd62849dfc0d76b6aff7a9768a424381dd9f2d35a71ece14c9981323fa177f&w=900);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}
.LogContain {
  background-color: black;
  width: 550px;
}
.LogLogo {
  width: 30px;
}
.LogInput {
  border: none;
  border-radius: 1px;
  background-color: rgb(91, 91, 91);
  width: 300px;
  height: 40px;
}
.LoginBtn {
  width: 300px;
  border: none;
  color: black;
}
.socialMediaBorder {
  width: 300px;
  border: 2px solid white;
}
.SocialImg {
  width: 20px;
}