.iconColor {
  filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(12%) hue-rotate(103deg) brightness(105%) contrast(105%);
  width: 30px;
}


.Posticon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(12%) hue-rotate(103deg) brightness(105%) contrast(105%);
  width: 40px;
}


.Posticon:hover {
  filter: brightness(0) saturate(100%) invert(72%) sepia(67%) saturate(6138%) hue-rotate(359deg) brightness(99%) contrast(104%);
  transition: 0.5s;
}


.BackgroundImg {
  background-image: url(https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2514.jpg?t=st=1735986570~exp=1735990170~hmac=b37e1d460a1b91eaec7c776c5f0ffef57d1138021e0d95b831fb416c8080ccb9&w=1060);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}



.SideBar {
  background-color: black;
  width: 290px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  overflow: hidden;
}


.shodow {
  box-shadow: 0, 0, 0, gray;

}


.shodow:hover {
  background-color: gray;
  transition: 0.5s;
}


.createImg {
  width: 70px;
}


.createImg1 {
  width: 65px;
}


.textcreate {
  font-size: 15px;
  font-family: "Parkinsans", sans-serif;
}


.textcreate:hover {
  font-weight: 700;
  transition: 0.2s;
}


.Footer {
  width: 100%;
  background-color: rgb(49, 49, 49);
}


.thumbImg {
  width: 90px;
  height: 90px;
}


.thumbText {
  margin-bottom: 0;
  padding-left: 10px;
}


.flexPosition {
  display: grid;
  grid-template-columns: 90px 230px 70px;
}


.CardBackground {
  background-color: rgba(110, 110, 110, 0.7);
}


.CardTextColor {
  color: rgb(154, 154, 154);
}


.playBtn {
  width: 50px;
  opacity: 0;
}


.flexPosition:hover .playBtn {
  opacity: 1;
  transition: 0.3s;
}

.PostContainer {
  display: grid;
  grid-template-columns: 390px 390px 390px;
  gap: 10px;
}

.back {
  width: 30px;
  transform: rotate(180deg);
  filter: brightness(0) saturate(100%) invert(97%) sepia(97%) saturate(0%) hue-rotate(40deg) brightness(103%) contrast(105%);
}
.forward {
  width: 30px;
  filter: brightness(0) saturate(100%) invert(97%) sepia(97%) saturate(0%) hue-rotate(40deg) brightness(103%) contrast(105%);
}
.bcakcontainer {
  padding: 8px 8px 8px 8px;
  background-color: rgb(26, 26, 26);
  display: inline-block;
  border-radius: 50%;
}