body {
  background-image: url(https://img.freepik.com/free-photo/planet-earth-listening-music_1048-2600.jpg?t=st=1732968455~exp=1732972055~hmac=af3515e7bacc822a204cf0669069571432bd6d727cb360828a4e17f2a8806466&w=900);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}
.containerImg {
  background-color: rgb( 0, 0, 0, 0.8);
  height: 100vh;
}