{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Web Name -->
  <title>Spotify Music</title>


  <!-- X-icon link -->
   <link rel="shortcut icon" type="X-icon" href="https://img.icons8.com/?size=100&id=G9XXzb9XaEKX&format=png&color=000000">
  
  
  <!-- Bootstrap link -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>



  <!-- Static link -->
  <link rel="stylesheet" href="{% static 'MainIndex.css' %}">
  <link rel="stylesheet" href="{% static 'Font.css' %}">



  <!-- Font Link -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">



</head>



<body style="padding-left: 250px;" class="BackgroundImg">



  <div class="SideBar d-flex flex-column p-3 pt-5">


    <div class="p-2">


      <div class="d-flex align-items-center gap-4 p-1 ps-2 rounded-1 shodow">

        <img class="iconColor" src="https://img.icons8.com/?size=100&id=14096&format=png&color=000000" alt="">
        <h6 class="parkinsans texthover text-light pt-2">Home</h6>

      </div>


    </div>


    <div class="p-2">


      <div class="d-flex align-items-center gap-4 p-1 ps-2 rounded-1 shodow">

        <img class="iconColor" src="https://img.icons8.com/?size=100&id=7695&format=png&color=000000" alt="">
        <h6 class="parkinsans texthover text-light pt-2">Search</h6>

      </div>


    </div>


    <div class="p-2">


      <div class="d-flex align-items-center gap-4 p-1 ps-2 rounded-1 shodow">

        <img class="iconColor" src="https://img.icons8.com/?size=100&id=99192&format=png&color=000000" alt="">
        <h6 class="parkinsans texthover text-light pt-2">Your Librarys</h6>

      </div>


    </div>


    <div>


      <div class="pt-3 ps-2">

        <h5 class="text-secondary parkinsans">PLAYLISTS</h5>

      </div>


      <div>


        <div class="d-flex gap-2 pt-3 align-items-center">

          <img class="createImg1" src="{% static "Img/sidebar/plus.png" %}" alt="">
          <h5 class="text-light pt-3 textcreate">Create Playlist</h5>

        </div>


        <div class="d-flex gap-2 pt-1 align-items-center">

          <img class="createImg" src="{% static "Img/sidebar/likes.png" %}" alt="">
          <h5 class="text-light pt-3 textcreate">Create Playlist</h5>

        </div>


        <div>



        </div>


      </div>


    </div>


  </div>


  <div class="">


    <div>


      <div class="MainBody">


        <div class="ms-4 me-4">


          <div class="">


            <div class="pb-4 pt-5 d-flex justify-content-between align-items-center">


              <div class="">

                <h2 class="text-light parkinsans">Playlists</h2>

              </div>


              <div class="">

                <a href="{% url 'pay' %}"><img class="Posticon" src="{% static 'Icon/upload.png' %}" alt=""></a>

              </div>


            </div>



            <div class="d-inline-block CardBackground resonse">


              {% for post_musics in post_music %}

              <div class="flexPosition">

                <img class="thumbImg" src="{{ post_musics.cover_picture }}" alt="">


                <div class="">
  
                  <h3 class="thumbText edu-au-vic-wa-nt-arrows pt-2 text-light">{{ post_musics.Music_Title }}</h3>
                  <p class="thumbText roboto-light CardTextColor">{{ post_musics.artist }}</p>
    
                </div>


                <div class="d-flex align-items-center">

                  <img class="playBtn" src="https://img.icons8.com/?size=100&id=80556&format=png&color=000000" alt="">

                </div>


              </div>

              {% endfor %}

            </div>



          </div>


        </div>


      </div>


    </div>


    <div>


      <div class="Footer">

      </div>


    </div>


  </div>
  
  
</body>
</html>