{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Post Pay</title>

    <!-- X icon -->
     <link rel="shortcut icon" type="x-icon" href="https://img.icons8.com/?size=100&id=Tys9Kx3DE6tD&format=png&color=000000">

    <!-- CSS link -->
     <link rel="stylesheet" href="{% static 'post_pay.css' %}">

    <!-- Font link -->
    <link rel="stylesheet" href="{% static 'Font.css' %}">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/ bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>


</head>


<body>

  <div class="MainBackgroundImgContainer d-flex justify-content-center align-items-center">

    <div>

      <img class="payImg" src="{% static 'Img/payment.png' %}" alt="">

    </div>

    <div>

      <div>

        <h2 class="text-center text-light mb-4">Payment Method</h2>

        <input class="form-control p-3" placeholder="1234 5678 6789 1234" id="codeNum" value="12345" type="text">

        <div class="d-flex gap-2 mt-2">

          <input class="form-control p-3" placeholder="MM/YY" type="text">

          <input class="form-control p-3" placeholder="CVV" type="text">

        </div>

        <div>

          <!-- <input class="form-control p-3 mt-2" placeholder="Special Key" type="text"> -->
          

        </div>

        <button class="btn btn-success container mt-2">Pay</button>

      </div>

    </div>

  </div>
  
</body>
</html>